<%- include('../includes/header.ejs') %> 
   <div class="container">
    <a href="/apprenants" class="btn btn-primary mt-3">&lt;-Retourner à liste</a>
    <h1><%= title %></h1>
    <form action="/apprenants" method="POST" id="form">
        <input type="hidden" name="id" id="id" value="<%= apprenant.id ? apprenant.id : ''%>">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" class="form-control" value="<%= apprenant.nom ? apprenant.nom : '' %>"/>
        <br><br>
        <label for="prenom">Prenom</label><br>
        <input type="text" name="prenom" class="form-control" value="<%= apprenant.prenom ? apprenant.prenom :'' %>"/><br>
        <button type="submit" id="btn" class="btn btn-primary">Créer</button>
    </form>
   </div>
   <script src="../../script.js"></script>
<%- include('../includes/footer.ejs') %> 