<%- include('../includes/header.ejs') %> 
    <div class="container">
        <a href="/apprenants" class="btn btn-primary mt-3">&lt;-Retourner à liste</a>
        <h1><%= apprenant.prenom+" "+apprenant.nom %> </h1>
        <p>Nom : <%= apprenant.nom %></p>
        <p>Prenom : <%= apprenant.prenom %></p>
    </div>
<%- include('../includes/footer.ejs') %> 